.container{

}
.row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.orange{
    background-color: orange;
    padding: 50px;

}
.tan {
    background-color: tan;
    padding: 50px;

}